* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.home-btn:hover {
  color: green !important;
}

.nm {
  color: #cc96cc;
}

.nav-bt:hover {
  background-color: transparent !important;
  color: red;
}

.p-info {
  cursor: pointer;
}

@import url("./home.css");
@import url("./map.css");
@import url("./infoBox.css");
@import url("./table.css");
@import url("./auth.css");
@import url("./loading.css");
@import url("./profileInfo.css");
@import url("./allpurpose.css");
@import url("./avatar.css");
@import url("./survey.css");
/* @import url("./surveytable.css"); */
