.users_table {
  padding: 0 10px;
  flex: 1;
  min-width: 300px;
}
.users_table h2 {
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #333;
  margin: 10px 0;
}

/* ------------ Table------------ */
.users {
  border-collapse: collapse;
  width: 100%;
}
.users td,
.users th {
  border: 1px solid #ddd;
  padding: 8px;
  min-width: 100px;
}
.users tr:nth-child(even) {
  background: #f2f2f2;
}
.users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background: #555;
  color: white;
}
.users i {
  cursor: pointer;
}
.users .fa-check {
  color: green;
}
.users .fa-times {
  color: red;
}
.users .fa-edit {
  background: whitesmoke;
  padding: 7px;
  color: #555;
  font-size: 10px;
}
.users .fa-trash-alt {
  background: red;
  padding: 7px;
  color: white;
  font-size: 10px;
  margin-left: 7px;
}

/* ...edit user ... */

.edit_user .go_back {
  background: white;
  margin: 20px;
  font-size: 1.2rem;
}
.edit_user .col-left {
  margin-top: 50px;
}
.edit_user .col-left input {
  background: #eee;
}
.edit_user .col-left #isAdmin {
  width: 20px;
  height: 20px;
  transform: translateY(3px);
  margin: 10px 0;
}
.edit_user .col-left #isAdmin + label {
  display: inline-block;
  margin-left: 5px;
}
